<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/detailproduct.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Product Page</title>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <%- include("../partials/sub-nav.ejs") %>
      <div class="breadcrumb-container">
        <nav class="breadcrumb">
          <a class="home" href="/">Home</a> /
          <p><%= product.name %></p>
        </nav>
      </div>
      <div class="product-container">
        <div class="product-images">
          <img
            src="/images/products/<%= product.category.name %>/<%= product.imgName %>"
            alt=""
          />
        </div>

        <div class="product-info">
          <h2><%= product.name %></h2>
          <p class="price">
            <%= product.price.toLocaleString('vi-VN') +" VND" %>
          </p>
          <p class="brand"><b>Brand: </b><%= product.brand %></p>
          <% for( const key in product.description ) { %>
          <p><b><%= key %></b>: <%= product.description[key] %></p>
          <% } %>

          <div class="buttons">
            <button class="buy-now">Buy now</button>
            <button class="add-to-cart" onclick="addToCart('<%= product._id%>',1)">Add to cart</button>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
  <script src="/scripts/add-to-cart.js"></script>
</html>
