<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/my-account.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Profile-Page</title>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>
    <main>
      <%- include("../partials/sub-nav.ejs") %>
      <div class="breadcrumb-container">
        <nav class="breadcrumb">
          <a class="home" href="/">Home</a> /
          <a class="my-account" href="#">My Account</a>
        </nav>
      </div>

      <div class="welcome">
        Welcome! <span class="customer-name"><%= user.username %></span>
      </div>

      <div class="manage">
        <div class="manage-account">
          <a href="/my-account">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="#f13a3a"
                d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1"
              />
            </svg>
            Manage Account
          </a>
          <a href="/info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="#f13a3a"
                d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"
              />
            </svg>
            Edit Profile</a
          >
          <a href="">
            <form action="/api/av1/user/logout" method="post">
              <button class="logout-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024">
                <path fill="#f13a3a" d="M116.832 543.664H671.28c17.696 0 32-14.336 32-32s-14.304-32-32-32H118.832l115.76-115.76c12.496-12.496 12.496-32.752 0-45.248s-32.752-12.496-45.248 0l-189.008 194l189.008 194c6.256 6.256 14.432 9.376 22.624 9.376s16.368-3.12 22.624-9.376c12.496-12.496 12.496-32.752 0-45.248zM959.664 0H415.663c-35.36 0-64 28.656-64 64v288h64.416V103.024c0-21.376 17.344-38.72 38.72-38.72h464.72c21.391 0 38.72 17.344 38.72 38.72l1.007 818.288c0 21.376-17.328 38.72-38.72 38.72h-465.71c-21.376 0-38.72-17.344-38.72-38.72V670.944l-64.416.08V960c0 35.344 28.64 64 64 64h543.984c35.36 0 64.016-28.656 64.016-64V64c-.015-35.344-28.671-64-64.015-64z" />
            </svg>
            Logout</button>
            </form>
            </a>
        </div>

        <div class="manage-order">
          <div class="purchase-order">View Purchase History</div>
          <div class="order-list">
            <% if (order) { %>
            <div class="order-item">
              <div class="order-item-detail">
                <h3>Most recent order</h3>
                <p><b>Date ordered:</b> <%= order.dateOrdered.toLocaleString("vi-VN") %></p>
                <p><b>Status:</b> <%= order.status %></p>
              </div>
              <% order.orderItems.forEach(orderItem => { %>
              <div class="order-product-item">
                <img
                  src="/images/products/<%= orderItem.product.category.name %>/<%= orderItem.product.imgName %>"
                  alt="imgName"
                />
                <div class="order-product-item-details">
                  <p><b>Name: </b><%= orderItem.product.name %></p>
                  <p><b>Quantity: </b><%= orderItem.quantity %></p>
                </div>
                <% const totalPrice=orderItem.product.price*orderItem.quantity%>
                <div class="order-product-item-price">
                  <%= totalPrice.toLocaleString('vi-VN')+" VND" %>
                </div>
              </div>
              <% }) %>
              <div class="total-price">
                <span
                  ><strong
                    >Grand total: <%=
                    order.totalPrice.toLocaleString('vi-VN')+" VND"%></strong
                  ></span
                >
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
